{% extends 'base.html.twig' %}

{% block title %}Films List{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
      integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock %}

{% block body %}
<p><br/></p>
<div class="content">
    <h1>les statistiques</h1>
    <canvas id="notes" width="400" height="150"></canvas>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let scores = document.querySelector("#scores")
    let scoreGraph = new Chart(scores, {
        type: "pie",
        data: {
            labels:{{filmNom|raw}},
            datasets: [{
                label:["Répartition des scores"],
                data: {{ filmScore|raw }},
                backgroundColor: ["#DF37FF","#29E3FF","#8E37FF","#3766FF","#379CFF","#37FFFF","white", "#B62FDF", "#FF29F9", "#29FF30"]
            }]
        }
    })
</script>
{% endblock %}